PORT=
NODE_ENV=

MONGODB_URI=
MONGO_LOG_URI=
MONGO_AI_URI=

JWT_SECRET=

COINGECKO_API_URL=

COINMARKETCAL_API_KEY=

# Brevo SMTP Credentials
BREVO_HOST=
BREVO_PORT=
BREVO_USER=
BREVO_PASS=

# The "from" email address for your app
MAIL_FROM_ADDRESS="Your App Name" <no-reply@yourapp.com>

N8N_BASE_URL=
