@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

:root {
    --text-color-light: #777777;
    --text-green: #46e746;
    --text-red: #e74646;
    --chart-green: #4CAF50;
    --hover-green: #9ef01acc;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
}

.bg-background, .bg-black, .dark {
    background-color: #0A0908;
}

.dark .bg-dark-gray {
    background-color: #141414FF;
}

.bg-dark-gray {
    background-color: #F0F0F0FF;
}

.bg-dark-semi-black {
    background-color: #191919;
}

.ua-card {
    @apply border border-gray-700 bg-dark-gray rounded-xl;
}

label[data-slot="label"]:after {
    display: none;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:is(:-webkit-autofill, :autofill) {
    @apply bg-dark-semi-black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
}

input:-webkit-autofill:focus {
    /* Format: [ring-shadow], [background-shadow] */
    /* This creates a 1px solid blue ring */
    -webkit-box-shadow: 0 0 0 1px #3B82F6, 0 0 0 30px #191919 inset !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

section[role="dialog"] .overflow-y-auto::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

section[role="dialog"] .overflow-y-auto::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

.technical-analysis iframe .widget-technical-analysis__container::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
}

.technical-analysis iframe .widget-technical-analysis__container::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

section[role="dialog"] .overflow-y-auto::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.bot-config-form__tabs-screen-height {
    height: calc(100svh - 50px);
}

.thin-scrollbar::-webkit-scrollbar {
    width: 1px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

.backtester-page div[data-slot=input-wrapper] {
    border: unset !important;
}

/******************** Recent Bots Swiper Styles *********************/
.academy-swiper .swiper-slide {
    width: 300px !important;
}

.today-bots-swiper .swiper-slide {
    width: 400px;
}

.today-bots-swiper .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.today-bots-swiper .swiper-pagination-bullet-active {
    color: #fff;
    background: white !important;
}

.today-bots-swiper .swiper-button-next {
    right: 0;
}
.today-bots-swiper .swiper-button-prev {
    left: 0;
}
.today-bots-swiper .swiper-button-next,
.today-bots-swiper .swiper-button-prev {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    width: 48px;
    height: 100%;
    margin-top: -8%;
    transition: all 0.3s;
}
.today-bots-swiper .swiper-button-next:hover,
.today-bots-swiper .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.today-bots-swiper .swiper-button-next:after,
.today-bots-swiper .swiper-button-prev:after {
    font-size: 18px;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: auto !important;
    bottom: -15px !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
}
.swiper-pagination-bullet {
    cursor: pointer;
    background: white !important;
    opacity: 1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: white !important;
    opacity: 1;
}
.today-bots-swiper .swiper-pagination {
    bottom: -10px;
}

/******************** End: Recent Bots Swiper Styles *********************/

/******************** Start: Recent Bots Swiper Styles *********************/
.community-bot-slider .swiper-wrapper {
    @apply w-full h-full;
}
/******************** End: Recent Bots Swiper Styles *********************/

/******************** Start: Top Creators Swiper Styles *********************/
.top-creators-swiper .swiper-slide {
    width: 200px;
}
/******************** End: Top Creators Swiper Styles *********************/

.tradingview-widget-container iframe {
    height: 100% !important;
}

.ai-bg {
    @apply bg-gradient-to-tr from-pink-500 to-yellow-500;
}
.ai-text {
    @apply bg-gradient-to-tr from-pink-500 to-yellow-500 text-transparent bg-clip-text;
}

.tv-lightweight-charts {
    @apply rounded-lg;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}
