@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color-light: #777777;
}

label[data-slot="label"]:after {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

section[role="dialog"] .overflow-y-auto::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

section[role="dialog"] .overflow-y-auto::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

section[role="dialog"] .overflow-y-auto::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.bot-config-form__tabs-screen-height {
    height: calc(100svh - 130px);
}

.thin-scrollbar::-webkit-scrollbar {
    width: 1px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

.backtester-page div[data-slot=input-wrapper] {
    border: unset !important;
}
